<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VisitasDomiciliarias.App.frontend</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    @* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">App+Plus</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Propietarios/PropList">Propietario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Veterinarios/VetList">Veterinario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/HistoriasClinicas/HistList">Historia
                                clinica</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Mascotas/MascList">Mascota</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="https://i.ibb.co/5cJ5C8c/Bn-Hero1-Py.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="display">HOLA, PELUDOS SOMOS MASCOTA FELIZ</h5>
                        <p>Un proyecto académico, ciclo 3 Desarrollo de Software</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://i.ibb.co/8773r4m/Bn-Hero2-Py.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>GRUPO APP +PLUS</h5>
                        <p>Aplicativo web que permite conocer el estado de salud de su mascota</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://i.ibb.co/1ftQ8r0/Bn-Hero3-Py.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>MASCOTA FELIZ</h5>
                        <p>Una solucion en c#, .NET y Razor</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </header>


    <div class="card-group">
        <div class="card">
            <img src="https://i.ibb.co/GWmksH7/Bn-Mod1-copia.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Propietarios</h5>
                <p class="card-text">En esta seccion puedes registrarte y registrar a tu mascota.</p>
                <a class="btn btn-primary" asp-page="/Propietarios/PropList" role="button">Regístrate aquí</a>
            </div>
        </div>
        <div class="card">
            <img src="https://i.ibb.co/pbMBW3L/Bn-Mod1-copia-2.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Veterinarios</h5>
                <p class="card-text">Un lugar para los profesionales que aman las mascotas regístrate!</p>
                <a class="btn btn-primary" asp-page="/Veterinarios/VetList" role="button">Regístrate aquí</a>
            </div>
        </div>
        <div class="card">
            <img src="https://i.ibb.co/q9K3Hn4/BnMod4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mascotas</h5>
                <p class="card-text">Registra tu mascota y accede al mejor servicio de mascota feliz</p>
                <a class="btn btn-primary" asp-page="/Mascotas/MascList" role="button">Regitrar tu mascota</a>
            </div>
        </div>
        <div class="card">
            <img src="https://i.ibb.co/ZG77DQQ/Bn-Mod1-copia-3.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Historias clínicas</h5>
                <p class="card-text">Conoce toda la historia clinica de tu mascota</p>
                <a class="btn btn-primary" asp-page="/HistoriasClinicas/HistList" role="button">Ver historia clinica</a>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - App+Plus presentamos nuestra ASP.NET Application - <a asp-area=""
                asp-page="/Index">Proyecto ciclo 3 Misión Tic 2022</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>

</body>

</html>